*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    width: 100%;
    font-family: monospace;
}

.montserrat body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 13px;
  font-weight: 400;
  font-style: normal;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #f1ede4;
}
#root{
    height: auto;
    background-color: #f1ede4;

    margin: auto;

    display: grid;
    grid-template-rows: 164px 1fr 5%  ;
    grid-row-end: 3;
}
.whatssap{
    
    position:fixed;
    justify-self: right;
    align-content: end;
    cursor: pointer;
    height: 95%;
    margin-right: 2rem;
}